/*==============================*/
/* partie commune               */
/*==============================*/
input[type=range].custom-slider.custom-slider-bullet {
    height: 2em;
    color: #fff;
    background: transparent linear-gradient(to bottom, #fff, #999, #fff) no-repeat center;
    background-size: 100% 25%;
}
/*==============================*/
/* le curseur                   */
/*==============================*/
input[type=range].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
    width: 1em;
    padding: 0.25em;                                              /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #fff inset;
    background: linear-gradient(#888, #fff) content-box,          /* le centre */
    linear-gradient(-90deg, #888, #ddd) border-box;   /* le bord */
}
input[type=range].custom-slider.custom-slider-bullet::-moz-range-thumb {
    width: 1em;
    padding: 0.25em;                                              /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #fff inset;
    background: linear-gradient(#888, #fff) content-box,          /* le centre */
    linear-gradient(-90deg, #888, #ddd) border-box;   /* le bord */
}
input[type=range].custom-slider.custom-slider-bullet::-ms-thumb {
    width: 1em;
    padding: 0.25em;                                              /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #fff inset;
    background: linear-gradient(#888, #fff) content-box,          /* le centre */
    linear-gradient(-90deg, #888, #ddd) border-box;   /* le bord */
}